<html>
<body>
<style>
body {
  background-color: linen;
opacity: 0.7;
}

h1 {
  color: maroon;
  margin-left: 40px;
}

</style>
<h1>Create an account</h1>
<form action="{{ url_for('acc_creation') }}" method="POST">
<label for="name">Name:</label><br>
  <input type="text" id="name" name="name"><br>
<label for="email">Email Address:</label><br>
  <input type="text" id="email" name="email"><br>
 <label for="uname">Username:</label><br>
  <input type="text" id="uname" name="uname"><br>
  <label for="pswrd">Password:</label><br>
  <input type="text" id="pswrd" name="pswrd"><br>
   <input type="submit" value="Submit">
</form>
</body>
</html>
